<section class="top">
  <article>
    <h2>Learn how to use <%= link_to "fb_graph", fb_graph_url %>!</h2>
    <p><%= link_to "fb_graph", fb_graph_url %> is a full-stack Facebook Graph API wrapper in Ruby.</p>
    <p>Reading the souce code (in Rails), you can learn how to authenticate facebook users using <%= link_to "fb_graph", fb_graph_url %>, how to access their profile data, how to update their status etc.</p>
    <footer>
      <p>NOTE: This application requires all permissions Graph API supports. If you hesitate to allow them, download source code and edit config/facebook.yml</p>
    </footer>
  </article>

  <article>
    <h2>Source Code</h2>
    <ul>
      <li><%= link_to 'fg_graph', fb_graph_url %></li>
      <li><%= link_to 'this sample app (Rails)', fb_graph_sample_url %></li>
    </ul>
  </article>
</section>