<h2>Learn how to use <%= link_to "fb_graph", fb_graph_url %>!</h2>

<p><%= link_to "fb_graph", fb_graph_url %> is a full-stack Facebook Graph API wrapper in Ruby.</p>
<p>Reading the souce code (in Rails), you can learn how to authenticate facebook users using <%= link_to "fb_graph", fb_graph_url %>.</p>

<h2>Source Code</h2>

<p><%= link_to 'fg_graph', fb_graph_url %></p>
<p><%= link_to 'this sample app (Rails)', fb_graph_sample_url %></p>