<section class='dashboard'>
  <h2>Hello <fb:name uid='<%= current_user.identifier %>' useyou='false'></fb:name>!</h2>
  <article>
    <h3><%= link_to 'Profile Details', profile_path %></h3>
    <p>User profile.</p>
  </article>
  <article>
    <h3><%= link_to 'Timeline (News Feed)', timeline_path %></h3>
    <p>Show your timeline and update status.</p>
  </article>
  <article>
    <h3><%= link_to 'Canvas App', canvas_path %></h3>
    <p>This link let you go to fb_graph's sample canvas app on apps.facebook.com.</p>
  </article>
  <article>
    <h3><%= link_to 'Subscription', subscriptions_path %></h3>
    <p>Subscribe your user's activity.</p>
    <p>This functionality is for developers, not for end-users.</p>
    <p>This page won't return any content to your browsers, since this endpoint is designed to respond to subscription verification request from facebook.com</p>
  </article>
  <article>
    <h3><%= link_to 'App Request', '#', :id => :app_request %></h3>
    <p>Send application requests to your friends.</p>
    <p>This functionality is for iframe applications running on apps.facebook.com domain.</p>
  </article>
</nav>

<script>
$(function () {
  $('#app_request').click(function () {
    FB.ui({
      method: 'apprequests',
      message: 'You should learn more about this awesome game.',
      filters: ['app_non_users'],
      data: 'tracking information for the user'
    });
  });
});
</script>